
/************** About ************/


.home-initial-nav .selected a{
    color: #03a6e8 !important;
    cursor: default;
}

.about-headder {
    background: url("../img/insights-banner.png") 50% 50px no-repeat fixed #fff;
    /* background-size: 100% 100%; */
    height: 1200px;
    position: absolute;
    margin-top: 0px;
    top: 0px;
    left: 0;
    width: 100%;
}

#home-carousel {
    background: #eee;
    min-height: 450px;
    position: relative;
    width: 100% !important;
    /* min-width: 1000px; */
    margin: 0;
    padding: 0;
    margin-top: -50px;
    overflow: hidden;
}

.sectionp-bold {
    font-size: 13pt;
    font-weight: bold;
}

.navbar-default {
    background-color: #000;
    border-color: #e7e7e7;
}

.small-sech3 {
    color: #000 !important;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px !important;
    margin-top: 0px;
}

.small-blog-sech3 {
    color: #000 !important;
    font-size: 22pt;
    text-transform: uppercase;
    letter-spacing: 1px !important;
    margin-top: 0px;
}

.small-secp {
    font-size: 14px !important;
    line-height: 20px !important;
    padding: 0 10px;
}

.customer-first {
    padding: 0px 0;
}

.customer-first .small-sech3 {
    color: #fff !important;
    min-height: 30px;
}

.customer-first .small-secp {
    color: #fff !important;
}

.founders-profile {
    padding: 40px 0 0;
}

.founderh3 {
    color: #000 !important;
}

.founder-role {
    color: #03a6e8 !important;
    min-height: 20px;
    margin-bottom: 10px !important;
}

.founders-profile .small-secp {
    color: #000 !important;
}

.founders-profile img {
    width: 140px;
}

.careerppink {
    color: #03a6e8 !important;
    min-height: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 10pt;
}

a.adjust {
    padding: 10px 0;
    display: block;
    font-weight: bold;
    color: #03a6e8 !important;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    font-size: 22px;
}

a.adjust:hover {
    color: #03a6e8 !important;
}

.continued {
    color: #7F8289;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    line-height: 28px;
    margin-bottom: 0;
}

.pless {
    margin-bottom: 0px;
}

.applytxt {
    padding: 30px 13px;
}

.getlink {
    padding: 24px 17px;
}

.blog-img {
    text-align: right;
    margin: 0px 0 10px;
    padding: 0px;
}

.sectionp {
    font-family: Karla-Regular;
    font-size: 12pt;
    color: #000;
}

hr {
    margin: 20px 0;
}

.contentp-bold {
    font-weight: bold;
    min-height: 20px;
    margin-bottom: 10px;
    letter-spacing: 0px;
}

.small-sech3 a {
    color: #000;
}


.small-sech3 a:hover {
    color: #000;
}

.blog-close {
    font-family: Karla-Regular;
    font-size: 12pt;
    cursor: pointer;
    font-weight: bold;
}



@media (max-width: 767px) {

    .blog-img {
        text-align: left;
        margin: 20px 0;
    }
}

.whiteppr {
    margin-bottom: 20px;
}

.whiteppr .section-inner-border {
    margin-bottom: 10px;
}

#casestudy {
    text-align: left;
}